<carousel [isAnimated]="true">
  <slide>
    <img src="assets\images\hero1.jpg" alt="slide1" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets\images\hero2.jpg" alt="slide2" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets\images\hero3.jpg" alt="slide3" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="feature">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to Skinet!</h1>
  </div>
</section>
