<div class="container">
  <div class="row" *ngIf="types != undefined && brands != undefined && types.length > 0 && brands.length > 0">
    <section class="col-3">
      <h5 class="text-danger ml-3">Sorting</h5>
      <select class="form-select mb-3"
              (change)="onSortSelected($event.target.value)">
        <option *ngFor="let sort of sortOption"
                [value]="sort.value">{{sort.name}}</option>
      </select>

      <h5 class="text-danger ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item"
            *ngFor="let brand of brands"
            [class.active]="brand.id === this.shopParams.brandId"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)">
          {{brand.name}}
        </li>
      </ul>
      <h5 class="text-danger ml-3">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item"
            *ngFor="let type of types"
            [class.active]="type.id === this.shopParams.typeId"
            [value]="type.id"
            (click)="onTypeSelected(type.id)">
          {{type.name}}
        </li>
      </ul>
    </section>

    <!-- Main content -->
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header [pageSize]="shopParams.pageSize"
                           [totalCount]="totalCount"
                           [pageNumber]="shopParams.pageNumber"></app-paging-header>
        <div class="form-inline mt-2">
          <input type="text"
                 class="form-control-sm me-2"
                 style="width: 300px;"
                 placeholder="Search"
                 #search
                 (keyup.enter)="onSearch()">
          <button class="btn btn-sm btn-outline-success my-2 ml-2"
                  (click)="onSearch()">Search</button>
          <button class="btn btn-sm btn-outline-danger my-2 ml-2"
                  (click)="onReset()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4"
             *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center"
           *ngIf="totalCount && totalCount > 0">
        <app-pager [totalCount]="totalCount"
                   [pageSize]="shopParams.pageSize"
                   (pageChanged)="onPageChanged($event)"></app-pager>
      </div>

    </section>
  </div>
</div>
